.container,
.containerDark {
  padding-top: 4rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  width: 100%;
}
.container .title,
.containerDark .title {
  color: #141c3a;
  font-size: 2.5rem;
  font-weight: 600;
}
.container .description,
.containerDark .description {
  font-size: 1.8rem;
  text-align: center;
  height: 6rem;
}
.container .skills,
.containerDark .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
  font-size: 2rem;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
.container .skills .skillContainer,
.containerDark .skills .skillContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  width: 12rem;
  height: 12rem;
}
.container .skills .skillContainer span,
.containerDark .skills .skillContainer span {
  font-weight: normal;
  font-size: 1.8rem;
}

.containerDark {
  background-color: #0b0c10;
}
.containerDark .title,
.containerDark .description,
.containerDark span {
  color: #fff;
}
.containerDark img {
  filter: invert(1);
}

@media (max-width: 800px) {
  .container .title,
  .containerDark .title {
    padding-bottom: 2rem;
  }
  .container .skills,
  .containerDark .skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .container .skills .skillContainer,
  .containerDark .skills .skillContainer {
    width: unset;
    height: unset;
  }
}