.container,
.containerDark {
  padding: 10rem 6rem;
  width: 100vw;
  cursor: pointer;
}
.container .title,
.containerDark .title {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 4rem;
  font-weight: bold;
  width: 100%;
  display: block;
}
.container .innerContainer,
.containerDark .innerContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 4rem;
  justify-content: center;
}
.container .projectContainer,
.containerDark .projectContainer {
  width: 100%;
  background-color: #6e07f3;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  border-radius: 1.5rem;
  position: relative;
}
.container .projectContainer img,
.containerDark .projectContainer img {
  width: 100%;
  aspect-ratio: 2/1;
  border-radius: 1rem;
  filter: brightness(1);
  cursor: pointer;
}
.container .lowerContainer,
.containerDark .lowerContainer {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  visibility: hidden;
}
.container .projectName,
.containerDark .projectName {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 600;
}
.container .buttonContainer,
.containerDark .buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}
.container .repoLink,
.container .webLink,
.containerDark .repoLink,
.containerDark .webLink {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.container .githubIcon,
.container .repoIcon,
.containerDark .githubIcon,
.containerDark .repoIcon {
  width: 2.4rem;
  height: 2.4rem;
  fill: #fff;
}
.container .repoIcon,
.containerDark .repoIcon {
  width: 2.2rem;
  height: 2.2rem;
}
.container .projectContainer:hover img,
.containerDark .projectContainer:hover img {
  filter: brightness(0.2);
}
.container .projectContainer:hover .lowerContainer,
.containerDark .projectContainer:hover .lowerContainer {
  visibility: visible;
}

.containerDark {
  background-color: #0b0c10;
}
.containerDark .title {
  color: #fff;
}
.containerDark .projectContainer {
  background-color: #1f2833;
}
.containerDark .projectContainer:hover svg:hover {
  fill: #66fcf1;
}

@media (min-width: 1400px) {
  .container .innerContainer,
  .containerDark .innerContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  .container,
  .containerDark {
    padding: 6rem 2rem;
  }
}