@import '../../styles/variables.scss';

.container {
  @include flexbox(center, center, row, 4rem);
  padding: 2rem;

  img {
    border-radius: 8%;
    height: 30vw;
    width: auto;
    min-height: 30rem;
    max-height: 45rem;
  }

  .textContainer {
    width: 50%;
    font-size: 1.8rem;
    padding: 2rem 1rem;
    border-radius: 2rem;
    height: 100%;
    text-align: center;
    @include flexbox(center, flex-start, column);

    h3 {
      font-size: 3rem;
      padding-bottom: 1rem;
    }

    p {
      width: 100%;
      margin: 0 auto;
      line-height: 4rem;
    }
  }
}
