@import '../../styles/variables.scss';

.navbar {
  height: 10vh;
  max-height: 20rem;
  @include flexbox(center, space-between);
  padding: 1rem;
}

.containerLeft {
  height: 100%;

  img {
    height: 80%;
    width: auto;
    border-radius: 50%;
  }
}

.containerRight {
  @include flexbox(center, space-between);

  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
    font-size: 1.8rem;
    color: $light-secondary-color;
    font-weight: 500;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 1.8rem;
    @include flexbox(center, center);
  }

  a:hover,
  a:active {
    color: $light-main-color;
    background-color: $light-secondary-color;
  }
}
