@import '../../styles/variables.scss';

.navbar {
  height: 15rem;
  @include flexbox(center, space-between);
  padding: 1rem 3rem;
}

.containerLeft {
  height: 100%;
  @include flexbox(center, center);

  img {
    height: 80%;
    width: auto;
    border-radius: 50%;
  }
}

.containerRight {
  @include flexbox(center, space-between, row, 4rem);

  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
    font-size: 1.8rem;
    color: $light-secondary-color;
    font-weight: 600;
    cursor: pointer;
    @include flexbox(center, center);
  }

  a:hover,
  a:active {
    border-bottom: 2px solid $light-secondary-color;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    img {
      height: 3rem;
      width: 3rem;
    }
  }
}

.navbarDark {
  background-color: $dark-main-color;
}

.containerDark {
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $dark-secondary-color;
  }

  a:hover,
  a:active {
    border-bottom: 2px solid $dark-secondary-color;
  }
}
