.container,
.containerDark {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 6rem;
  padding: 10rem 6rem;
}
.container .title,
.containerDark .title {
  text-align: center;
  font-size: 3rem;
  width: 100%;
  font-weight: bold;
  display: block;
}

.containerDark {
  background-color: #0b0c10;
}
.containerDark .title {
  color: #fff;
}

@media (max-width: 800px) {
  .container,
  .containerDark {
    padding: 6rem 2rem;
  }
}