@import '../../styles/variables.scss';

.container,
.containerDark {
  @include flexbox(flex-start, center, column, 6rem);
  padding: 10rem 6rem;

  .title {
    text-align: center;
    font-size: 3rem;
    width: 100%;
    font-weight: bold;
    display: block;
  }
}

.containerDark {
  background-color: $dark-main-color;

  .title {
    color: $dark-main-font-color;
  }
}

@media (max-width: 800px) {
  .container,
  .containerDark {
    padding: 6rem 2rem;
  }
}
