$light-main-color: #fff;
$light-secondary-color: #6e07f3;
$light-helper-color: #eee;
$light-main-font-color: #141c3a;
$light-secondary-font-color: #fff;

$dark-main-color: rgb(15, 23, 42);
$dark-secondary-color: rgb(226, 232, 240);
$dark-main-font-color: #fff;
$dark-secondary-font-color: #141c3a;

@mixin flexbox($align: center, $justify: center, $direction: row, $gap: 1rem) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  gap: $gap;
}
