.container,
.containerDark {
  background-color: #fff;
  width: 80%;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
  color: #141c3a;
  padding: 2rem;
  border: 1px solid #e6ecf8;
}
.container .innerContainer,
.containerDark .innerContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.containerDark {
  border: 1px solid #0b0c10;
  background-color: #0b0c10;
}
.containerDark .innerContainer {
  gap: 0;
}