@import '../../styles/variables.scss';

.container {
  position: absolute;
  background-color: $light-main-color;
  width: 80%;
  top: 50%;
  border-radius: 2rem;
  @include flexbox(center, flex-start, column);
  color: $light-main-font-color;
  padding: 2rem;
  border: 1px solid #e6ecf8;

  .innerContainer {
    @include flexbox(flex-start, space-around, column);
    width: 100%;
  }
}
