@import '../../styles/variables.scss';

.container,
.containerDark {
  background-color: $light-main-color;
  width: 80%;
  border-radius: 2rem;
  @include flexbox(center, flex-start, column);
  color: $light-main-font-color;
  padding: 2rem;
  border: 1px solid #e6ecf8;

  .innerContainer {
    @include flexbox(flex-start, space-around, column);
    width: 100%;
  }
}

.containerDark {
  border: 1px solid $dark-main-color;
  background-color: $dark-main-color;

  .innerContainer {
    gap: 0;
  }
}
