@import '../../styles/variables.scss';

.container {
  @include flexbox(center, center, row, 4rem);
  padding: 8rem;
  background-color: $light-secondary-color;
  margin-top: 20rem;
  position: relative;
  height: 80rem;

  .textContainer {
    width: 100%;
    font-size: 1.8rem;
    padding: 2rem 1rem;
    border-radius: 2rem;
    height: 100%;
    text-align: center;
    @include flexbox(center, flex-start, column);

    h3 {
      font-size: 3rem;
      padding-bottom: 1rem;
      color: $light-secondary-font-color;
    }

    p {
      width: 100%;
      margin: 0 auto;
      line-height: 4rem;
      font-size: 2.2rem;
      color: $light-secondary-font-color;
    }
  }
}
