.container,
.containerDark {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  padding: 8rem;
  background-color: #6e07f3;
}
.container .textContainer,
.containerDark .textContainer {
  width: 100%;
  font-size: 1.8rem;
  padding: 2rem 1rem;
  border-radius: 2rem;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}
.container .textContainer h3,
.containerDark .textContainer h3 {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: #fff;
}
.container .textContainer p,
.containerDark .textContainer p {
  width: 100%;
  margin: 0 auto;
  line-height: 4rem;
  font-size: 1.8rem;
  color: #fff;
}

.containerDark {
  background-color: #1f2833;
}