.container,
.containerDark {
  padding: 2rem 2rem 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.container h1,
.containerDark h1 {
  font-size: 4.5rem;
  color: #141c3a;
  letter-spacing: 3px;
  text-align: center;
}
.container span,
.containerDark span {
  font-size: 2.5rem;
  color: #141c3a;
  font-weight: normal;
  letter-spacing: 0.2px;
  text-align: center;
  width: 80%;
}
.container span:nth-child(3),
.containerDark span:nth-child(3) {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
}
.container img,
.containerDark img {
  padding-top: 4rem;
  border-radius: 8%;
  height: 20rem;
  width: auto;
  min-height: 30rem;
  max-height: 45rem;
}
.container a:link,
.container a:visited,
.container a:hover,
.container a:active,
.containerDark a:link,
.containerDark a:visited,
.containerDark a:hover,
.containerDark a:active {
  margin-top: 8rem;
  text-decoration: none;
  color: #141c3a;
  padding: 2rem 6rem;
  font-size: 2rem;
  background-color: #6e07f3;
  color: #fff;
  border-radius: 1rem;
}
.container a:hover,
.container a:active,
.containerDark a:hover,
.containerDark a:active {
  filter: brightness(1.2);
}

.containerDark {
  background-color: #0b0c10;
}
.containerDark h1 {
  color: #66fcf1;
}
.containerDark span {
  color: #fff;
}
.containerDark a:link,
.containerDark a:visited,
.containerDark a:hover,
.containerDark a:active {
  text-decoration: none;
  color: #fff;
  background-color: #1f2833;
}

@media (max-width: 800px) {
  .container span,
  .containerDark span {
    line-height: 3.5rem;
  }
}