@import '../../styles/variables.scss';

.container,
.containerDark {
  background: $light-helper-color;
  padding: 2.5rem 4rem;
  border-radius: 2rem;
  max-width: 110rem;
  width: 70%;
  margin: 0 auto;
  border: 1px solid #bbbaba;

  .upperContainer {
    @include flexbox(center, space-between, row);

    .leftContainer {
      @include flexbox(flex-start, center, row);
    }

    .rightContainer {
      font-size: 1.6rem;
      @include flexbox(center, center);

      .collapseIcon {
        height: 3rem;
        width: 3rem;
        background-color: transparent;
        border: none;
        cursor: pointer;

        svg {
          height: 100%;
          width: 100%;
        }
      }
    }

    .title {
      font-size: 1.8rem;
      font-weight: 600;
    }
  }

  .lowerContainer {
    padding-top: 2rem;
    @include flexbox(flex-start, center, column);
    font-size: 1.6rem;
    opacity: 1;
    height: auto;
    transition: opacity 2s ease, height 2s ease;
  }
}

.hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
  pointer-events: none;
}

.containerDark {
  background-color: $dark-helper-color;
  color: $dark-main-font-color;

  svg {
    fill: $dark-main-font-color;
  }
}
